{% extends 'base.html.twig' %}

{% block title %}MagicDLE{% endblock %}

{% block body %}
    <main class="container py-5">
        <div class="row">
            {% for card in cards %}
                {% include '_card.html.twig' with {'col' : '4'} %}
            {% endfor %}
        </div>
    </main>
{% endblock %}
