{% extends 'base.html.twig' %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <form class="d-flex" role="inputCardName" action="{{ path("app_magicdle") }}">
        <input class="form-control me-2" type="input" placeholder="Enter a card name" aria-label="Input" name="cardInput">
        <button class="btn btn-outline-success" type="submit">Search</button>
    </form>

    {% if success %}
        <h2>Correct! Today's card is {{ cardOfTheDay.name }}! </h2>
        <img src={{ cardOfTheDay.media.1.path }}>
    {% endif %}
</div>
{% endblock %}
