<div class="row">
    <div class="col-12">
        {{ form_label(filterForm.color) }}
    </div>
    <div class="col-9 d-flex align-items-center mb-3">
        {{ form_widget(filterForm.color.type, { 'attr' : { 'class' : 'w-100 d-flex justify-content-between' } }) }}
    </div>
    <div class="col-3 mb-3">
        {{ form_widget(filterForm.color.mode) }}
    </div>
</div>