<div class="row">
    <div class="col-12">
        {{ form_label(filterForm.stats) }}
    </div>
    <div class="col-4 mb-3">
        {{ form_widget(filterForm.stats.type) }}
    </div>
    <div class="col-4 mb-3">
        {{ form_widget(filterForm.stats.operator) }}
    </div>
    <div class="col-4 mb-3">
        {{ form_widget(filterForm.stats.value) }}
    </div>
</div>