{% extends 'base.html.twig' %}

{% block title %}Search{% endblock %}

{% block body %}
<main class="container py-5">
    {{ include('search/_searchType.html.twig') }}

    {{ include('search/_filterType.html.twig') }}

    <div class="row">
        {% for card in results %}
            {{ include('_card.html.twig') }}
        {% endfor %}
    </div>
</main>
{% endblock %}
